{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title> Welcome to Ticketmaster </title>
    <link rel="stylesheet" href=" {% static '/css/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body id=body>


{# Top bar #}
<div id="outer-container" class="container-fluid my-0">
    <div class="container mb-3 py-3">
        <div class="row align-items-center">
            <div class="col">
                <h1 class="text-white display-2 lead text-center">Ticketmaster</h1>
                <h3 class="text-white text-center">Quickly find tickets around you</h3>
            </div>
        </div>
    </div>

    <div class="container mb-3 py-3">
        <div class="row align-items-center">
            <form name="myForm" autofocus action="{% url 'tickemtaster' %}" method="post">
                {% csrf_token %}
                <div class=" col form-group d-flex justify-content-center">
                    <input type="text" name="category" placeholder="Search by genre, artist or event..." id="category"
                           class="form-control m-1">
                    <input class="form-control m-1 " id="location" name="location"
                           placeholder="Enter a city, e.g. New York..." type="text">
                    <input id="liveAlertBtn" type="submit" value="SEARCH" class="btn btn-primary m-1 "
                           data-bs-dismiss="alert">
                </div>
            </form>
        </div>
    </div>

    <div class="col container d-flex justify-content-center">
        <div class="col mt-2 " role="alert" id="error-container">

            {% if messages %}
                {% for message in messages %}
                    <div class="col mt-2 alert alert-danger" role="alert"
                         id="error-container-server-side">{{ message }}</div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>


<div class="container border rounded shadow hide-container my-4 p-1 {% if events or favorites %}show-container{% endif %}"
     id="results-container">
    <div class="mx-auto" id="card">
        <div class="row">
            {% if events %} {# if events, display events found #}
                <div class="col-md py-2 text-left align-self-center">
                    <h3> {{ total_events }} events found</h3>
                </div>
                <div class="col-md py-2 align-self-center d-flex justify-content-end ">
                    <a href="{% url 'view_favorites' %}"
                       class="btn right-button btn-outline-secondary right-card-container ">Favorites
                    </a>
                </div>
            {% else %}
                <div class="col-md py-2 text-left align-self-center">
                    <h3> Your Favorites</h3>
                </div>

            {% endif %}

        </div>
    </div>


    {% block body %}
        {% for event in events %}
            <div class="row mb-3 py-3 justify-content-center ">
                <div class="card shadow rounded p-3 col-12 col-lg-8 mx-auto " id="card">
                    <div class="row ">
                        <div class="col-12 col-md-5 d-flex justify-content-center align-items-center">
                            <img class="card-img img-fluid" src="{{ event.thumbnail }}" alt="Card image">
                        </div>
                        <div class="col-12 col-md-4 d-flex flex-column justify-content-start">
                            <h4 class="ven-name mb-2">{{ event.venue_name }}</h4>
                            <h3 class="text-secondary mb-auto my-3">{{ event.event_name }}</h3>
                            <h5 class="text-secondary mt-auto">{{ event.venue_address }}</h5>
                            <h5 class="text-secondary">{{ event.venue_city }} {{ event.venue_state }}</h5>
                            <div class="btn-container mt-auto" id="button-container">
                                <a href="{{ event.close_up }}" class="btn btn-primary mt-auto" id="search-button"
                                   role="button">Find Tickets</a>
                            </div>
                        </div>

                        <div class="col-12 col-md-3 d-flex flex-column right-card-container">
                            <div class="text-success text-right">
                                <h4>{{ event.date }}</h4>
                                <h4>{{ event.time }}</h4>
                                <input type="hidden" id="csrf_token" value="{{ csrf_token }}">
                            </div>
                            <div>

                                <button id="favorite-btn-{{ event.event_id }}"
                                        class="btn {% if event.is_favorite %}btn-danger{% else %}btn-success{% endif %} mt-auto"
                                        data-favorited="{% if event.is_favorite %}true{% else %}false{% endif %}"
                                        data-event-id="{{ event.event_id }}"
                                        data-event-name="{{ event.event_name }}"
                                        data-thumbnail="{{ event.thumbnail }}"
                                        data-venue-name="{{ event.venue_name }}"
                                        data-venue-address="{{ event.venue_address }}"
                                        data-venue-city="{{ event.venue_city }}"
                                        data-venue-state="{{ event.venue_state }}"
                                        data-date="{{ event.date }}"
                                        data-time="{{ event.time }}"
                                        data-close-up="{{ event.close_up }}"
                                        onclick="toggleFavorite(this)">
                                    {% if event.is_favorite %}Unfavorite{% else %}Favorite{% endif %}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endblock %}
</div>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
<script src="{% static "js/ticketmaster.js" %}"></script>
<script>
    function toggleFavorite(button) {
        let favorite = button.getAttribute('data-favorited') === 'true';
        let eventId = button.getAttribute('data-event-id');
        let eventName = button.getAttribute('data-event-name');
        let thumbnail = button.getAttribute('data-thumbnail');
        let venueName = button.getAttribute('data-venue-name');
        let venueAddress = button.getAttribute('data-venue-address');
        let venueCity = button.getAttribute('data-venue-city');
        let venueState = button.getAttribute('data-venue-state');
        let date = button.getAttribute('data-date');
        let time = button.getAttribute('data-time')
        let closeUp = button.getAttribute('data-close-up');

        let url = favorite ? '/ticketmaster/delete_favorite/' : '/ticketmaster/create_favorite/';

        $.ajax({
            url: url,
            type: 'POST',
            data: {
                'event_id': eventId,
                'event_name': eventName,
                'thumbnail': thumbnail,
                'venue_name': venueName,
                'venue_address': venueAddress,
                'venue_city': venueCity,
                'venue_state': venueState,
                'date': date,
                'time': time,
                'close_up': closeUp,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function (response) {
                if (response.status === 'success') {
                    favorite = !favorite;
                    button.setAttribute('data-favorited', favorite);

                    if (favorite) {
                        button.classList.remove('btn-success');
                        button.classList.add('btn-danger');
                        button.textContent = 'Unfavorite';
                        let notificationBubble = $('<div class="notification-bubble notification-color-green">').html(`<b>${eventName}</b> added`);
                        $(button).closest('.card').append(notificationBubble);


                        notificationBubble.fadeIn(1000);
                        setTimeout(() => {
                            notificationBubble.fadeOut(3000, function () {
                                $(this).remove();
                            });
                        }, 1000);


                    } else {
                        button.classList.remove('btn-danger');
                        button.classList.add('btn-success');
                        button.textContent = 'Favorite';
                        let notificationBubble = $('<div class="notification-bubble notification-color-red">').html(`<b>${eventName}</b> removed`);
                        $(button).closest('.card').append(notificationBubble);


                        notificationBubble.fadeIn(1000);
                        setTimeout(() => {
                            notificationBubble.fadeOut(3000, function () {
                                $(this).remove();
                            });
                        }, 1000);


                    }

                }
            },
            error: function (response) {
                console.error('Error:', response.message);
            }
        });
    }

    function toggleAttending(button) {


        let eventId = button.getAttribute('data-event-going-id');
        let attending = button.getAttribute('data-attending') === 'true';

        $.ajax({
            url: '/ticketmaster/update_favorite_attending/',
            type: 'POST',
            data: {
                'event_id': eventId,
                'attending': !attending,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function (response) {
                if (response.status === 'success') {
                    attending = !attending;
                    button.setAttribute('data-attending', attending); // Update the HTML data attribute

                    if (attending) {
                        button.textContent = "You're going!";

                    } else {
                        button.textContent = "Wanna go?";
                    }
                } else {
                    console.error('attending error:', response.message);
                }
            },
        });
    }

</script>
</body>


</html>

